#src/data/
src/model/
wandb/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
env/
venv/
.venv/

# PyInstaller
*.manifest
*.spec
build/
dist/
*.egg-info/
.eggs/

# pip
pip-log.txt
pip-delete-this-directory.txt

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Mypy
.mypy_cache/
.dmypy.json

# PyTorch / TensorFlow
*.ckpt
*.pth
*.pt
*.h5
*.pb
*.tflite
*.onnx

# TensorBoard
runs/
logs/
events.out.tfevents.*

# DVC
.dvc/
*.dvc

# Dataset cache or temp files
*.csv
*.tsv
*.zip
*.tar.gz
*.npz
*.npy
*.db
*.sqlite
*.lmdb
.cache/
tmp/
temp/
data/
datasets/

# Output files
output/
outputs/
#results/
checkpoints/
weights/

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter Notebook metadata
.ipynb_checkpoints/

# Thumbnails / figures
#*.png
#*.jpg
#*.jpeg
#*.gif
#*.svg
#*.pdf

# Colab
*.ipynb~  # Colab backup
